doctype html
html(lang='en')
  head
    title logPage
  body(style='background-color:#31b276')
    form(style='text-align:center;margin-top:200px')
      p
        | User name: 
        input(type='text', name='username')
      p
        | Email: 
        input(type='text', name='email')
      p
        | Password: 
        input(type='password', name='psw')
      input(type='submit', value='Submit')